<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="todo">
        <div class="todo__inps">
            <h1>TODO APP</h1>
            <input type="text">
            <button>+</button>
        </div>

        <div class="todo__container">
            <!-- Add the todos here -->
        </div>
    </div>
</body>
</html>